[submodule "godot-cpp"]
	path = godot-cpp
	url = https://github.com/godotengine/godot-cpp
	branch = 4.4
[submodule "src/nexus"]
	path = src/nexus
	url = https://github.com/Phoenix21Dragon/nexus_for_godot.git
[submodule "src/vcglib"]
	path = src/vcglib
	url = https://github.com/cnr-isti-vclab/vcglib.git
	ignore = untracked
[submodule "src/corto"]
	path = src/corto
	url = https://github.com/cnr-isti-vclab/corto.git
	ignore = untracked
